---
page_title: 'Welcome to A-Frame'
poems:
  - poem:
    name: 'Poem One'
    image: '/images/blue_200x200.png'
    sound: '/sound/tweet.mp3'
    text: 'dsjdhlasjkhfaldjfhadlfjasfhhjhalfjadhsflajh'
  - poem:
    name: 'Poem Two'
    image: '/images/red_200x200.png'
    sound: '/sound/tweet.mp3'
    text: 'sjkdhasljdhsldjhsldjahljkdha'
  - poem:
    name: 'Poem Three'
    image: '/images/green_200x200.png'
    sound: '/sound/tweet.mp3'
    text: 'sjkdhasljdhsldjhsldjahljkdha'

---

<style>
  * {outline:1px solid red;}

  .header {
    margin-left: 10%;
    text-align: center;
    font-size: 2rem;
  }


</style>


<div class="container outline">
  <h1 class="center">
    <%= current_page.data.page_title %>
  </h1>

  <div class="table-responsive">
    <% current_page.data.poems.each do |p|  %>
      <table class="table">
        <tr>
          <div class="col-10 header"><%= p.name %></div>
          <div class="col-2"><%= image_tag p.image %></div>
          <div class="col-2"><audio src="<%= p.sound %>"</audio></div>
          <div class="col-6"><%= p.text %></div>
        </tr>
      </table>
      <br>
    <% end %>
  </div>
</div>
